<%- include('partials/head') %>
<body>
<header>
    <%- include('partials/navabr') %>
</header>

<%- include('partials/footer') %>
<%- include('partials/scripts') %>
</body>
<%- include('partials/head') %>
<body>
<header id="hero" class="hero overlay">
    <%- include('partials/navbar') %>
    <div class="masthead text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>谱绘生命本源</h1>
                <p class="lead text-muted">
                    谱元科技致力于利用微生物解决人类健康的问题
                </p>
                <form>
                    <input type="text" class="search-field" placeholder="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <a href="#" class="btn btn-hero"><span class="icon-git">Find More <span class="icon-right"></span></span></a>
            </div>
        </div>
    </div>
</header>
<!--section#feature.feature.bgc-light-gray>.container>.row.feature-section>(.text-center.col-sm-4>.media-body>(span.icon>img)+h3+p.text-muted)*3-->
<section id="feature" class="feature bgc-light-gray">
    <div class="container">
        <div class="row feature-section">
            <div class="text-center col-sm-4">
                <div class="media-body"><span class="icon"><img src="/images/icon/icon1.png" alt=""></span>
                    <h3>Feature 1</h3>
                    <p class="text-muted">Feature1 description.ababababba</p>
                </div>
            </div>
            <div class="text-center col-sm-4">
                <div class="media-body"><span class="icon"><img src="/images/icon/icon2.png" alt=""></span>
                    <h3>Feature 2</h3>
                    <p class="text-muted">Feature2 description.ababababba</p>
                </div>
            </div>
            <div class="text-center col-sm-4">
                <div class="media-body"><span class="icon"><img src="/images/icon/icon3.png" alt=""></span>
                    <h3>Feature 3</h3>
                    <p class="text-muted">Feature3 description.ababababba</p>
                </div>
            </div>
        </div>
    </div>
</section>





<%- include('partials/footer') %>
<%- include('partials/scripts') %>

</body>
</html>

